In [3]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
from torch import nn
import torch
from tqdm import tqdm
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

# üöÄ Welcome to Notebook 01! üöÄ

In this notebook, we will take the housing data that we previously overfitted and now see if we can properly learn and generalize from it. üìä‚ú®

## üè† Our Housing Data Features üè†
- **in_sf**: üåâ Is the house in San Francisco (SF) or not
- **beds**: üõè Number of bedrooms
- **bath**: üõÅ Number of bathrooms
- **price**: üí≤ Price of the house
- **year_built**: üèó Year the house was built
- **sqft**: üìè Square footage of the house
- **price_per_sqft**: üí∞ Price per square foot
- **elevation**: üåÑ Elevation of the house

Let's dive in and explore how we can improve our model's performance! üöÄüìà

In [4]:
#get data labels aka the first row 
with open('../data/sf_vs_nyc_house_data.csv', mode='r') as f:
    lables = f.readline()

lables = lables[:-1].split(sep=',')
print(lables)

df = pd.read_csv('../data/sf_vs_nyc_house_data.csv', skiprows=1, names=lables)

['in_sf', 'beds', 'bath', 'price', 'year_built', 'sqft', 'price_per_sqft', 'elevation']

In [5]:
df

     in_sf  beds  bath    price  year_built  sqft  price_per_sqft  elevation
0        0   2.0   1.0   999000        1960  1000             999         10
1        0   2.0   2.0  2750000        2006  1418            1939          0
2        0   2.0   2.0  1350000        1900  2150             628          9
3        0   1.0   1.0   629000        1903   500            1258          9
4        0   0.0   1.0   439000        1930   500             878         10
..     ...   ...   ...      ...         ...   ...             ...        ...
487      1   5.0   2.5  1800000        1890  3073             586         76
488      1   2.0   1.0   695000        1923  1045             665        106
489      1   3.0   2.0  1650000        1922  1483            1113        106
490      1   1.0   1.0   649000        1983   850             764        163
491      1   3.0   2.0   995000        1956  1305             762        216

[492 rows x 8 columns]